<!DOCTYPE html>
<html>
<head>
	<title> Weather Forecast </title>
	<link rel="stylesheet" type="text/css" href="style.css" media="all"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	<script src="javascript.js"></script>
</head>
<body ng-app="weather" ng-controller="myCtrl">
	<div class="box">
		<div class="title">
			<h1>Weather Forecast</h1>
		</div>
		<div class="info">
			<p>{{city}}, {{country}}</p>
			<p>{{temperature}} &#176
				<span class="temp" ng-click="conv()">{{unit}}</span>
			</p>
			<p>{{type}}</p>
		</div>
		<div class="allicon">
			<div class="wi"></div>
		</div>
	</div>

	<div class="searchbox">
		<div class="row infobox">
			<input ng-model="city" class="inputbox col-md-5"/>
			<div class="col-md-1"></div>
			<input ng-model="country" class="inputbox col-md-5"/>
			<button ng-click="search()" class="fa fa-search search col-md-1"></button>
		</div>
	</div>


	<div class="footer">
		by <a href="https://codepen.io/hewen">hewen</a>
	</div>
	
</body>
</html>
